.tag-row{
    display: flex;
    margin:0px 10px;
    width: 320px;
    overflow-x:scroll;
    gap: 4px;
   .tag{
    padding: 6px 17px; 
    display: flex;
    box-shadow: rgb(0 0 0 / 14%) 4px 1px 4px;    
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 6px;
    background: #EFF2F4;
    span{
        font-family: 'Poppins';
        font-style: normal;
        // word-break: no-;
        font-weight: 400;
        width: max-content;
        font-size: 16px;
        margin: 0;
        line-height: 24px;
        color: #064490;
    }
}

}
