.btn {
    padding: 13px 139px 14px 139px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-family: 'Poppins';
}

.static-btn {
    padding: 10px 77px 10px 78px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    outline: none;
    border: none;
    border-radius: 4px;
    text-align: center;
}